@import "./Variable.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bodyColor;
  color: $textColor;
  font-family: $bodyFont;
  font-size: $normalFontSize;
  margin: 0 0 $headerHeight 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: $textColor;
  font-weight: $fontWeighSemiBold;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

.section {
  padding: 2rem 0 4rem;

  &-title {
    color: $textColor;
    font-size: $h1FontSize;
  }

  &-subtitle {
    display: block;
    font-size: $smallFontSize;
    margin-bottom: 1.5rem;
  }

  &-title,
  &-subtitle {
    text-align: center;
  }
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 768px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Button */
.button {
  background-color: $firstColor;
  border-radius: 0.5rem;
  color: #fff;
  display: inline-block;
  font-weight: $fontWeighMedium;
  padding: 1rem;

  &-icon {
    font-size: 1.25rem;
    margin-left: 0.5rem;
    transition: 0.3s;
  }

  &:hover {
    background-color: $firstColorAlt;
  }
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

.scroll-up {
  background-color: white;
  bottom: 4rem;
  border: 2px solid $firstColor;
  border-radius: 0.4rem;
  display: none;
  opacity: 0.8;
  padding: 0.2rem 0.3rem;
  position: fixed;
  transition: 0.4s;
  right: 1rem;
  z-index: $zTooltip;

  &-icon {
    color: $firstColor;
    font-size: 1.5rem;
  }

  &:hover {
    opacity: 0.6;
  }
}

.show-scroll {
  display: block;
}