:root {
  --header-height: 3rem;

  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  --body-color: #f5f4f6;
  --first-color: hsl(0, 69%, 55%);
  --first-color-alt: hsl(0, 57%, 53%);
  --first-color-lighter: hsl(0, 92%, 85%);
  --text-color: #000000;
  --text-second-color: #a1a0a1;
  --sub-text-color: #a4a3a5;
  --button-color: #333233;
  --scroll-bar-color: hsl(0, 12%, 90%);
  --scroll-thumb-color: hsl(0, 12%, 80%);

  @media screen and (min-width: 986px) {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
