$headerHeight: 3rem;

$bodyFont: "Poppins", sans-serif;
$bigFontSize: 2rem;
$h1FontSize: 1.5rem;
$h2FontSize: 1.25rem;
$h3FontSize: 1.125rem;
$normalFontSize: 0.938rem;
$smallFontSize: 0.813rem;
$smallerFontSize: 0.75rem;

$fontWeighNormal: 400;
$fontWeighMedium: 500;
$fontWeighSemiBold: 600;
$fontWeighBold: 700;

$zFixed: 100;
$zModal: 1000;
$zTooltip: 10;

$bodyColor: #fff;
$firstColor: hsl(0, 69%, 61%);
$firstColorAlt: hsl(0, 57%, 53%);
$firstColorLighter: hsl(0, 92%, 85%);
$textColor: #000000;

@media screen and (min-width: 986px) {
  $bigFontSize: 3rem;
  $h1FontSize: 2.25rem;
  $h2FontSize: 1.5rem;
  $h3FontSize: 1.25rem;
  $smallFontSize: 0.875rem;
  $smallerFontSize: 0.813rem;
}
