.contact-container {
  row-gap: 3rem;

  .contact-information {
    display: flex;
    margin-bottom: 2rem;

    .contact-icon {
      color: var(--first-color);
      font-size: 2rem;
      margin-right: 0.75rem;
    }

    .contact-title {
      font-size: var(--h3-font-size);
      font-weight: var(--font-medium);
      margin: 0;
    }

    .contact-subtitle {
      font-size: var(--smaller-font-size);
      color: var(--text-color);
    }
  }

  @media screen and (min-width: 568px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
