.footer {
  padding-top: 2rem;

  &-bg {
    background-color: var(--first-color);
    padding: 2rem 0 3rem;

    @media screen and (min-width: 768px) {
      padding: 3rem 0 3.5rem;
    }

    .footer-container {
      row-gap: 3.5rem;

      @media screen and (min-width: 568px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 1rem;
      }

      @media screen and (min-width: 1024px) {
        padding: 0;
      }

      .footer-title {
        font-size: var(--big-font-size);
        margin-bottom: 0.25rem;
        margin-top: 0;
      }

      .footer-subtitle {
        font-size: var(--small-font-size);
      }

      .footer-links {
        display: flex;
        flex-direction: column;
        margin: 0;
        row-gap: 1.5rem;

        @media screen and (min-width: 768px) {
          column-gap: 2rem;
          flex-direction: row;
        }

        .footer-link:hover {
          color: var(--first-color-lighter);
        }
      }

      .footer-social {
        font-size: 1.25rem;
        margin-right: 1.5rem;

        @media screen and (min-width: 768px) {
          justify-self: flex-end;
        }

        &:hover {
          color: var(--first-color-lighter);
        }
      }

      .footer-title,
      .footer-subtitle,
      .footer-link,
      .footer-social {
        color: #fff;
      }
    }
  }
}
