@import "../../assets/style/Variable.scss";

.footer {
  padding-top: 2rem;

  &-bg {
    background-color: $firstColor;
    padding: 2rem 0 3rem;

    .footer-container {
      row-gap: 3.5rem;

      .footer-title {
        font-size: $h1FontSize;
        margin-bottom: 0.25rem;
        margin-top: 0;
      }

      .footer-subtitle {
        font-size: $smallFontSize;
      }

      .footer-links {
        display: flex;
        flex-direction: column;
        margin: 0;
        row-gap: 1.5rem;

        .footer-link:hover {
          color: $firstColorLighter;
        }
      }

      .footer-social {
        font-size: 1.25rem;
        margin-right: 1.5rem;

        &:hover {
          color: $firstColorLighter;
        }
      }

      .footer-title,
      .footer-subtitle,
      .footer-link,
      .footer-social {
        color: #fff;
      }
    }
  }
}
